*{
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container{
    background: #1f2937;
    display: flex;
    height: 5vh;
    padding-bottom: 35px;
}

.header-item{
    flex: 1;
}

.logo-text{
    font-size: 24px;
    align-items: center;
    padding-left: 5vw;
}

.link-container{
    display: flex;
    align-items: center;
}

.link{
    flex: 1;
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 5vw;
    text-align: right;
}

.hero-header-container{
    display: flex;
    background: #1f2937;
    height: 35vh;
    padding: 40px 0;
    align-items: center;
}

.hero-left{
    padding-left: 5vw;
    flex:1;
    max-width: 450px;
}

.hero-left h1{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}

.hero-left p {
    margin-bottom: 20px;
    font-size: 18px;
}

.sign-up-button{
    background: #3882f6;
    width: 120px;
    text-align: center;
    padding: 8px 24px;
    font-weight: bold;
    border-radius: 10px;
}

.hero-right{
    flex:1;
    text-align: right;
    padding-right: 5vw;
}

.hero-right img{
    height: 300px;
    width: 800px;
}

.top-content-container{
    display: flex;
    flex-direction: column;
    height: 35vh;
}

.top-content-item{
    flex: 1;
    text-align: center;
    font-size: 36px;
    color: #1f2937; 
    font-weight: 900;
    padding: 30px;
}

.top-content-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
}

.content-image{
    flex: 1;
    text-align: center;
    max-width: 155px;
    margin-left: 150px;
    margin-right: 150px;
}

.content-image img{
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.content-image p{
    color: gray;
}

.quote-text-container{
    background: #e5e7eb;
    display: flex;
    min-height: 35vh;
    max-height: 70vh;
    text-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.quote-text h2{
    font-size: 25px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
    max-width: 35vw;
}
.quote-text h3{
    font-size: 25px;
    color: #1f2937;
    font-weight: bold;
}

.call-to-action-container{
    display: flex;
    padding: 64px 0;
    justify-content: center;
}

.call-to-action-container .item{
    background: #3882f6;
    padding: 48px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 16px;
}

.call-to-action-container .large-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.call-to-action-container .sign-up-button {
    border: 2px solid white;
    padding: 8px 32px;
}